@mixin media() {
  @media screen and (max-width: 1186px) {
    .header {
      .search-option {
        position: absolute;
        left: 180px;
      }

      .search-by-category {
        display: none;
      }

      .icons {
        position: absolute;
        right: 0;

        .burger {
          display: block;
        }
      }

      .bussiness {
        display: none;
      }

      .list {
      }
    }

    .blwheader {
      display: none;
    }
  }
}

@mixin mediaSSE() {
  @media screen and (max-width: 743px) {
    .fansimg {
      .fansimgbox {
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      .search-option {
        display: none;
      }
    }
  }
}
