@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
}

.header {
  margin: 1rem;
  color: rgb(49, 49, 49);
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
.header .headerimage img {
  width: 117px;
}
.header .search-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(49, 49, 49);
  position: relative;
  width: 27%;
  outline: none;
  margin: 0px 15px;
}
.header .search-option i {
  position: absolute;
  left: 8px;
}
.header .search-option input {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.9rem 2rem;
  width: 100%;
}
.header .search-by-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
  color: rgb(49, 49, 49);
  position: relative;
  white-space: nowrap;
  margin: 0 1rem;
}
.header .search-by-category i {
  position: absolute;
}
.header .search-by-category.active {
  display: block;
}
.header .bussiness {
  border: 1px solid black;
  border-radius: 30px;
  padding: 0px 2rem;
  color: red;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.header .bussiness h3 {
  white-space: nowrap;
  padding: 0.71rem 0.1rem;
  font-weight: 700;
}
.header .bussiness:hover {
  background-color: red;
  color: black;
}
.header .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.header .icons i {
  font-size: 2rem;
  display: inline-flex;
}
.header .icons .burger {
  display: none;
}

.list {
  list-style: none;
  position: relative;
  display: none;
  transition: all 2s ease-in-out;
}
.list li {
  margin-top: 1rem;
}

.list.active {
  display: block;
}

.blwheader {
  width: 50%;
  margin-bottom: 1rem;
}
.blwheader .blwlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 1rem;
}
.blwheader .blwlist a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-weight: 500;
  white-space: nowrap;
}
.blwheader .blwlist a:hover {
  color: red;
}

.mainimage {
  position: relative;
  width: 100%;
}
.mainimage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainimage .headerimgline {
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 40%;
  bottom: 15px;
}
.mainimage .headerimgline .line {
  width: 15px;
  height: 4px;
  background-color: red;
  margin-left: 1rem;
}

.homeshop {
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: start;
  align-items: center;
}
.homeshop a {
  text-decoration: none;
  color: black;
}

.fansimg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fansimg .fansimgbox {
  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.filters {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.filters .filterpart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: start;
  align-items: center;
}
.filters .filterpart i {
  margin-left: 0.45rem;
}
.filters .filterpart span {
  margin-left: 0.45rem;
}
.filters .recmoded {
  margin-right: 1rem;
}

.haveles {
  padding-left: 2rem;
  margin: 2.5rem 0px;
}
.fansgrid {
  margin: 2.5rem 2rem;
}
.fansgrid .gridimgbody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.fansgrid .gridimgbody .gridimg {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 62px;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}
.fansgrid .gridimgbody .gridimg img {
  width: 100%;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}
.fansgrid .gridimgbody .gridimg .gridimflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 65px;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}
.fansgrid .gridimgbody .gridimg .gridimflex h3 {
  margin-bottom: 1.2rem;
}
.fansgrid .gridimgbody .gridimg .gridimflex h4 {
  color: red;
  font-weight: 500;
}
.fansgrid .gridimgbody .gridimg .gridimflex p {
  display: inline-flex;
}
.fansgrid .gridimgbody .gridimg .gridimflex p span {
  text-decoration: line-through;
  margin-left: 0.62rem;
}
.fansgrid .gridimgbody .gridimg .gridimflex .circlewrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.65rem;
  margin-top: 1rem;
}
.fansgrid .gridimgbody .gridimg .gridimflex .circlewrap .circlecolor {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.fansgrid .gridimgbody .gridimg .gridimflex .circlewrap .circlecolor .insidecircle {
  height: 22px;
  position: absolute;
  width: 22px;
  border-radius: 50%;
  background-color: red;
}

.content {
  margin: 1rem 0px;
}
.content .contentwrite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.content .contentwrite .contentline {
  width: 13px;
  height: 2px;
  background-color: black;
}
.gridbtn button {
  padding: 1rem;
  border-radius: 40px;
  outline: none;
  border: 1px solid red;
  color: red;
  font-weight: 600;
  transition: all 4ms ease-in;
}
.gridbtn button:hover {
  background-color: red;
  color: white;
  font-weight: 600;
}
.gridbtn .gridbtn2 {
  background-color: red;
  color: white;
}
.gridbtn .gridbtn2:hover {
  background-color: rgb(112, 4, 4);
}

.footer {
  margin-top: 5rem;
  padding: 2rem;
}
.footer .footerbody .footergrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}
.footer .footerbody .footergrid .footergridcol1 {
  padding: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.footer .footerbody .footergrid .footergridcol1 .gridcol1list {
  list-style: none;
}
.footer .footerbody .footergrid .footergridcol1 .gridcol1list li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol2 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
}
.footer .footerbody .footergrid .gridcol2 .gridcol2list li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol2 .gridcol2list li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol3 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
}
.footer .footerbody .footergrid .gridcol3 .gridcol3list li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol3 .gridcol3list li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol3 ul li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol3 ul li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol4 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
}
.footer .footerbody .footergrid .gridcol4 ul li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol4 ul li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol5 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
}
.footer .footerbody .footergrid .gridcol5 ul li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol5 ul li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .gridcol6 {
  padding-left: 1rem;
}
.footer .footerbody .footergrid .gridcol6 ul li {
  list-style: none;
}
.footer .footerbody .footergrid .gridcol6 ul li a {
  color: black;
  text-decoration: none;
}
.footer .footerbody .footergrid .grid7 {
  padding: 1rem;
}
.footer .footerbody .footergrid .grid7 ul li {
  list-style: none;
}
.footer .footerbody .footergrid .grid7 ul li a {
  color: black;
  text-decoration: none;
}

.footer2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1.5rem;
}
.footer2 .footer2flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.footer3 {
  margin-bottom: 5rem;
  padding: 2rem;
}
.footer3 .footer3flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 1186px) {
  .header .search-option {
    position: absolute;
    left: 180px;
  }
  .header .search-by-category {
    display: none;
  }
  .header .icons {
    position: absolute;
    right: 0;
  }
  .header .icons .burger {
    display: block;
  }
  .header .bussiness {
    display: none;
  }
  .blwheader {
    display: none;
  }
}
@media screen and (max-width: 743px) {
  .fansimg .fansimgbox {
    justify-content: center;
  }
  .footer3 .footer3flex {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .header .search-option {
    display: none;
  }
  .footer .footerbody .footergrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) and (max-width: 800px) {
  .footer2 .footer2flex {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 573px) {
  .footer .footerbody .footergrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 430px) {
  .footer .footerbody .footergrid {
    grid-template-columns: 1fr;
  }
  .footer .footerbody .footergrid .footergridcol1 {
    border: none;
  }
  .footer .footerbody .footergrid .gridcol2 {
    border: none;
  }
  .footer .footerbody .footergrid .gridcol3 {
    border: none;
  }
  .footer .footerbody .footergrid .gridcol4 {
    border: none;
  }
  .footer .footerbody .footergrid .gridcol5 {
    border: none;
  }
}
@media screen and (max-width: 460px) {
  .fansgrid .gridimgbody .gridimg .gridimflex p {
    padding-top: 18px;
  }
}/*# sourceMappingURL=style.css.map */