@import "flex";

@import "media";

@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
}

.header {
  margin: 1rem;
  color: rgb(49, 49, 49);
  font-weight: 500;

  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  @include flex();

  justify-content: space-between;

  #chkbox {
  }
  .headerimage {
    img {
      width: 117px;
    }
  }

  .search-option {
    @include flex();
    color: rgb(49, 49, 49);
    position: relative;
    width: 27%;
    outline: none;
    margin: 0px 15px;

    i {
      position: absolute;
      left: 8px;
    }

    input {
      border-radius: 24px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 0.9rem 2rem;
      width: 100%;
    }
  }

  .search-by-category {
    @include flex();
    gap: 1.2rem;
    color: rgb(49, 49, 49);
    position: relative;
    white-space: nowrap;
    margin: 0 1rem;

    i {
      position: absolute;
    }
  }

  .search-by-category.active {
    display: block;
  }

  .bussiness {
    border: 1px solid black;
    border-radius: 30px;
    padding: 0px 2rem;
    color: red;
    font-weight: 700;
    position: relative;
    z-index: 2;

    h3 {
      white-space: nowrap;
      padding: 0.71rem 0.1rem;
      font-weight: 700;
    }

    &:hover {
      background-color: red;
      color: black;
    }
  }

  .icons {
    @include flex();

    gap: 1rem;

    i {
      font-size: 2rem;
      display: inline-flex;
    }

    .burger {
      display: none;
    }
  }
}

.list {
  list-style: none;

  position: relative;

  display: none;

  transition: all 2s ease-in-out;
  li {
    margin-top: 1rem;
  }
}

.list.active {
  display: block;
}

.blwheader {
  width: 50%;
  margin-bottom: 1rem;
  .blwlist {
    @include flex();
    list-style: none;
    width: 100%;
    gap: 1rem;
    a {
      text-decoration: none;
      color: rgb(49, 49, 49);
      font-weight: 500;
      white-space: nowrap;

      &:hover {
        color: red;
      }
    }
  }
}

.mainimage {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }

  .headerimgline {
    background: transparent;
    position: absolute;
    @include flex();
    left: 40%;
    bottom: 15px;
    .line {
      width: 15px;
      height: 4px;
      background-color: red;

      margin-left: 1rem;
    }
  }
}

.homeshop {
  margin-bottom: 1.4rem;
  @include flex();
  justify-content: start;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.fansimg {
  @include flex();
  .fansimgbox {
    display: flex;
    justify-content: center;

    gap: 8rem;
    flex-wrap: wrap;
  }
}

.filters {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
  @include flex();
  justify-content: space-between;
  margin-top: 1rem;
  .filterpart {
    @include flex();
    justify-content: start;
    align-items: center;

    i {
      margin-left: 0.45rem;
    }

    span {
      margin-left: 0.45rem;
    }
  }

  .recmoded {
    margin-right: 1rem;
  }
}

.haveles {
  padding-left: 2rem;
  margin: 2.5rem 0px;
  h3 {
  }
}

.fansgrid {
  margin: 2.5rem 2rem;
  .gridimgbody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    .gridimg {
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 62px;
      outline: 1px solid rgba(0, 0, 0, 0.4);
      img {
        width: 100%;
        border-top-left-radius: 62px;
        border-top-right-radius: 62px;
      }

      .gridimflex {
        @include flex();

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem;

        .circlewrap {
          @include flex();
          gap: 0.65rem;
          .circlecolor {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1rem;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            .insidecircle {
              height: 22px;
              position: absolute;
              width: 22px;
              border-radius: 50%;
              background-color: red;
            }
          }
        }
      }
    }
  }
}

.content {
  margin: 1rem 0px;
  .contentwrite {
    @include flex();
    justify-content: flex-start;

    gap: 1rem;
    .contentline {
      width: 13px;
      height: 2px;

      background-color: black;
    }
  }
}

.footer {
  padding: 2rem;
  .footerbody {
    .footergrid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1.5rem;
      .footergridcol1 {
        padding: 1rem;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        .gridcol1list {
          list-style: none;
          li {
            a {
              text-decoration: none;
            }
          }
        }
      }

      // col2

      .gridcol2 {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        .gridcol2list {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }
      // col3

      .gridcol3 {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        .gridcol3list {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }

        ul {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }

      // grid4

      .gridcol4 {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        ul {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }

      // grid5

      .gridcol5 {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 1rem;
        ul {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }

      // grid6

      .gridcol6 {
        padding-left: 1rem;
        ul {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }

      // .grid7

      .grid7 {
        padding: 1rem;
        ul {
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }

      // col7 end
    }
  }
}

.footer2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1.5rem;
  .footer2flex {
    @include flex();
    gap: 1rem;

    .footer2img {
    }
  }
}

.footer3 {
  padding: 2rem;
  .footer3flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@include media();
@include mediaSSE();
